@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(243, 245, 252, 1);
}

header {
  background-color: rgba(243, 245, 252, 1);
  padding: 5px;
  display: flex;

}

.logo {
  padding: 10px;
  width: 100%;
  max-width: 200px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

section {
  flex-basis: 30%;
  margin-bottom: 20px;
}

.text {
  width: 100%;
  resize: vertical;
  padding: 5px;
  border: 32px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  width: 680px;
  height: 288px;
  color: rgba(10, 56, 113, 1);
  background-color: rgba(243, 245, 252, 1);
}


.alerta {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  margin: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(73, 80, 87, 1);
}


#result {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgba(73, 80, 87, 1);
  width: 400px;
  height: 700px;
  border-radius: 15px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

button {
  width: 288px;
  padding: 20px;
  border-radius: 24px;
  border: 1px;
  line-height: 0%;
}

.btn-cript {
  background-color: rgba(10, 56, 113, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.btn-descri {
  color: rgba(10, 56, 113, 1);
  border: 1px solid rgba(10, 56, 113, 1);
  cursor: pointer;
}

.btn-copia {
  color: rgba(10, 56, 113, 1);
  width: 288px;
  height: 19px;
  text-align: center;
  border: 1px solid rgba(10, 56, 113, 1);
  cursor: pointer;
  
}


.btn-descri:hover {
  background: rgba(216, 223, 232, 1);
}

.btn-cript:hover {
  background-color: rgba(10, 56, 113, 0.877);
}

.btn-copia:hover {
  background: rgba(216, 223, 232, 1);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
}

footer p {
  margin: 0;
}

footer a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: gray;
}

@media only screen and (max-width: 1023px) {
  .text {
    width: 100%;
    max-width: 480px;
    height: 200px;
    font-size: 24px;
    line-height: 36px;
  }
}

@media only screen and (max-width: 767px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  section {
    flex-basis: 100%;
  }

  .text {
    width: 100%;
    max-width: 320px;
    height: 150px;
    font-size: 18px;
    line-height: 28px;
  }

  button {
    width: 200px;
    padding: 15px;
    font-size: 16px;
  }

  .btn-cript,
  .btn-descri,
  .btn-copia {
    width: 200px;
    height: 40px;
    font-size: 16px;
  }
}
