@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:rgba(243, 245, 252, 1);
}

section{
    display: flex;
    flex-direction: column;
}

.logo{
    margin: 40px 40px;
    
}

.form-gruop{
    font-family:"Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(73, 80, 87, 1);
}

#message {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 48px;
    width: 680px;
    height: 288px;
    top: 168px;
    left: 240px;

}

.form-group {
    display: flex;
    width: 252px;
    height: 18px;
    top: 851px;
    left: 240px;
    gap: 8px;
}

textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: calc(100% - 20px);
    color: rgba(10, 56, 113, 1);
}

button{
    display: inline-block;
    width: 288px;
    height: 19px;
    top: 885px;
    left: 1032px;
    padding: 24px;
    border-radius: 24px;
    border: 1px;
    gap: 8px;

}

.btn-cript{
    background-color: rgba(10, 56, 113, 1);
    color:rgba(255, 255, 255, 1);
}

.btn-descri{
   color:rgba(10, 56, 113, 1);
   border: 1px solid rgba(10, 56, 113, 1);
}

.btn-copia{
    color:rgba(10, 56, 113, 1);
    width: 288px;
    height: 19px;
    text-align: center;
    border: 1px solid rgba(10, 56, 113, 1)
}

.btn-copia:hover{
    background: rgba(216, 223, 232, 1);
}

.btn-descri:hover{
    background: rgba(216, 223, 232, 1);
}

.btn-cript:hover{
    background-color: rgba(10, 56, 113, 0.877);
}

.area-texto {
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#result {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgba(73, 80, 87, 1);
    width: 336px;
    height: 781px;
    top: 72px;
    left: 1032px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
}

footer p {
    margin: 0;
}

footer a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: gray;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 20px auto;
        padding: 10px;
    }
    
    button {
        display: block;
        margin: 10px auto;
    }
}