@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:rgba(243, 245, 252, 1);
    ;
}
.logo{
    margin: 40px 40px;
    
}
.container {
    max-width: 100vh;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#message {
    padding-left: 5px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 48px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
}

footer p {
    margin: 0;
}

footer a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: gray;
}
